:root{
  --textbox-color: #E1E1E1;
  --text-color: #000000;
  --dark-purple: #5E2BA7; 
  --light-purple: #AF90DC;
  --light-white: rgba(255, 255, 255, 0.8);
  --drop-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > * {
  max-width: 20rem;
} 
