:root{
  --textbox-color: #E1E1E1;
  --text-color: #000000;
  --primary-color: #5E2BA7; 
  --secondary-color: #AF90DC;
  --light-white: rgba(255, 255, 255, 0.8);
  --help-text: rgba(0, 0, 0, 0.5);
  --drop-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2);
  --body-background:#efefef;
  --for-you-buttons:#efefef;
  --for-you-card: #efefefcc;

  --all-text: 1em "Jost", Arial, Helvetica, sans-serif;
}

/* Fonts */
@font-face {
  font-family: "Jost-Medium";
src: url(../fonts/Jost-Medium.ttf);
}

@font-face {
  font-family: "Jost-Regular";
src: url(../fonts/Jost-Regular.ttf);
}



* {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

body{
  background-color:var(--body-background) ;
}

a, button, input, form{
  font-family:Jost-Medium ;
}

p, label{
  font-family:Jost-Regular;
}

body,
form,
form .form-group {
  display: flex;
  flex-direction: column;
}

body
form {
  padding: 1em;
}



/* Text */
h1, h2, h3, p, .style-genre{
  font: var(--all-text);
}

.profile h2{
  font-weight: 700;
}

h1{
  font-size: 1.25em;
  margin-bottom: 0.7em;
}

h2{
  font-weight: 600;
}

h2{
  margin-bottom: 0.5em;
}

.help-text{
  color:var(--help-text);
  margin-bottom: 1.3em;
}

h2, .help-text, p{
  text-align: left !important;
}

.profile h1, .profile h2, h4, .profile #profileBandName{
  color: var(--primary-color);
}



/* Tekstveld  */
input[type="password"], input[type="email"], input[type="text"]{
  border: none;
  border-bottom: solid 0.125em;
  border-color: var(--primary-color);
  background-color:var(--textbox-color) ;
  height: 1.8125em;
  width: 20.875em;
  margin-bottom: 2.75em;
}

input[type="password"], input[type="email"]{
  text-indent: 3.5em;
}

form > * {
  /* max-width: 20rem; */
}

form {
  width: 100%;
}



/* Tekstveld svg position */
input[type="password"], input[type="email"], input[type="text"]{
  background-repeat: no-repeat;
  background-position: 0.9375em center;
}



/* Tekstveld svgs */
input[type="password"]{
  background-image: url(../img/password_icon.svg);
}

input[type="email"]{
  background-image: url(../img/mail_icon.svg);
}


/* Buttons */
.progressbar, .style-choice-button{
  border-radius: 20px;
  border: 2px solid var(--secondary-color);  
}

.style-choice-button{
  color: var(--primary-color);
  box-shadow: var(--drop-shadow);
  height: 4.5vh;
}

.hidden {
  display: none;
}

#nextBtn{
  background-color: var(--primary-color);
    color: var(--light-white);
    width: 5.9375em;
    height: 3.375em;
    border-color: var(--primary-color);
    border-radius: 3em;
}

#prevBtn{
  background: none;
  border: none;
  color: var(--primary-color);
}


/* Progressbar */
.container-progressbar{
  margin-bottom: 2.5em;
}

.progressbar{
  flex: 1; 
  text-align: center;
  margin: 0 5px;
  height: 1vh;
  width: 6.5vw;
}

.progressbar.active{
  background-color: var(--primary-color);
}

#progressbar-ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  padding: 0; 
  margin: 0;
}


/* Container choice buttons */
.container-choice{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 1em;
}



/* Video and audio */
#mediaPreview {
  margin-top: 20px;
}

video, audio {
  width: 100%;
  max-width: 400px;
}


/* Profile  */
.profile h1,
.profile form > header > section:nth-of-type(2) input{
  margin: 0;
}

.profile form > header > section:nth-of-type(1), 
.profile form > header > section:nth-of-type(2),
.profile form > main > section:nth-of-type(2),
.profile form > main > section:nth-of-type(3),
.profile form > main > section:nth-of-type(4),
.profile form > main > section:nth-of-type(5){
  display: flex;
}

.profile form > main > section:nth-of-type(2) > section,
.profile form > main > section:nth-of-type(3) > section,
.profile form > main > section:nth-of-type(4) > section,
.profile form > main > section:nth-of-type(5) > section{
  position: relative;
  margin-left: 2.5em;
  margin-bottom: 2.5em;
}

.profile form > header{
  height: 40vh;
}

.profile form > header > section:nth-of-type(1),
.profile form > header > section:nth-of-type(2){
  align-items: center;
  }

.profile form > header > section:nth-of-type(1){
justify-content: space-between;
margin-bottom: 0.3em;
}

.profile form > header > section:nth-of-type(2) {
  gap: 10px;
}

.profile .imageIcon{
  position: absolute;
}

.profile #profileBandName{
  display: inline-block; /* Zorgt ervoor dat de input dynamisch meebeweegt met de ingevoerde tekst */
  min-width: 0; /* Zorgt ervoor dat de input element kleiner kan worden dan de inhoud */
  max-width: 50%; /* Maximale breedte om te voorkomen dat het te breed wordt */
  text-align: right;
  border: none;
  background: none;
}

.profile div{
  height: 0.2vh;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: var(--primary-color);
}

.profile input{
  margin-bottom: 1em;
}

/* Styling voor de beschrijving sectie */
.profile section label,
.profile section textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.4em;
}

.profile section textarea {
  height: 5em; /* Pas de hoogte van de textarea naar behoefte aan */
  resize: vertical; /* Hiermee kan de gebruiker de hoogte van de textarea aanpassen */
}


/* For you page header */
#foryouheader{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0));;
  z-index: 1100;
}

#foryouheader h1{
  color: #efefef;
}

header button{
  align-items: center;
  background-color: var(--for-you-buttons);
  border: none;
  border-radius: 10em;
  width: 2.7em;
  height: 2.7em;
  display: flex; 
  justify-content: center;
}

header button img{
  width: 1.5625em;
  height: 1.5625em;
}

/* For you search bar */
header form{
  padding: 0;
  height: 2.7em;
  width: auto;
  margin: 0;
}

input[type="search"]{
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5625em;
  height: 1.5625em;
  background-color: var(--for-you-buttons); 
  border: none;
  border-radius: 10em;
  height: 2.7em;
  width: 2.7em;
  text-indent: 3.5em;
}


input[type="search"]:focus{
  width: 17.5em;
  background-position: 0.9375em center;
}

/* header form input[type="search"]:focus{
  background-color: red !important;
  padding-right: 10em !important;
} */

/* header form:focus{
 width: 100% !important;
} */









/* container voor alle dynamic user info op for you page */
#user-info-container{
  position: relative;
  height: 100%;
  position: fixed; 
  bottom: 2.2075em;  
  /* padding-bottom: 1.23em; */
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  z-index: 0;
}

#user-info-container div:first-of-type{
  display: flex;
  flex-direction: column;
}

#user-info-container h2{
  color: var(--primary-color);
  font-size:  1.25em;
  margin-left: 0.625em;
  font-family: Jost-Medium;
  font-weight: normal;
  height: 2em;
}

#user-info-container h3{
  font-family:Jost-Regular ;
  font-size: 0.875em;
}

#user-info-container ul:first-of-type ul{
  margin: 0;
  padding: 0;
  padding-left: 0.625em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  display: flex;
}
#user-info-container ul:first-of-type{
  padding-left: 0;
}

#user-info-container ul:first-of-type ul:first-of-type li{
  padding: 0.0625em 0.46875em;
  margin-right: 0.5em;
  background-color: var(--body-background);
  color: var(--primary-color);
  border-radius: 3em;
  list-style-type: none;
}

#user-info-container p{
  margin-left: 0.625em;
  margin-right: 0.625em;
  font-size: 1em;
  height: 4.0625em;
}

#user-info-container h4{
  font-family: Jost-Medium;
  font-weight: normal;
  color: var(--text-color);
  margin-left:0.4em ;
  margin-top: 1.5625em;
}

#user-info-container section{
  background-color: var(--for-you-card);
  height: 15.5625em;

  z-index: 2;
  position: absolute;

  bottom: 3.2575em;
  left:  0.625em;
  right: 0.625em;
}

#user-info-container section:not(:last-child){
  margin-bottom:37.7625em;
}

li{
  list-style-type: none;
}

#videoBackground{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -2;
  scroll-snap-align: start;
  background-color: var(--primary-color)
}

#user-info-container video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
  max-width: 100%;
}

/* Hide items die class hidden krijgen */
#user-info-container div:first-of-type.hidden {
  display: none; 
}


/* footer navigatie */
footer nav ul{
  background-color: var(--body-background);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5625em;
  padding-right: 1.5625em;
  position:fixed; 
  bottom:0; 
  width:100%; 
  height:3.4375em; 
  align-items: center;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

footer nav ul a img{
  width: 1.5625em;
  height: 1.5625em;
}

footer nav ul li{
  background-color: var(--body-background);
}

footer{
  height: 10vh;
}