:root{
  --textbox-color: #E1E1E1;
  --text-color: #000000;
  --primary-color: #5E2BA7; 
  --secondary-color: #AF90DC;
  --light-white: rgba(255, 255, 255, 0.8);
  --help-text: rgba(0, 0, 0, 0.5);
  --drop-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2);

  --all-text: 1em "Jost", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

form > * {
  max-width: 20rem;
} 

/* Buttons */
.progressbar, .style-choice-button{
  border-radius: 20px;
  border: 2px solid var(--secondary-color);  
}

.style-choice-button{
  color: var(--primary-color);
  box-shadow: var(--drop-shadow);
  height: 4.5vh;
}

.hidden {
  display: none;
}



/* Progressbar */
.container-progressbar{
  margin-bottom: 2.5em;
}

.progressbar{
  flex: 1; 
  text-align: center;
  /*background-color: blue;*/
  margin: 0 5px;
  height: 1vh;
  width: 6.5vw;
}

#progressbar-ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  padding: 0; 
  margin: 0;
}



/* Text */
h1, h2, p, .style-genre{
  font: var(--all-text);
}

h1{
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0.7em;
}

h2{
  font-weight: 600;
  margin-bottom: 0.5em;
}

.help-text{
  color:var(--help-text);
  margin-bottom: 1.3em;
}

h2, .help-text, p{
  text-align: left !important;
}



/* Container choice buttons */
.container-choice{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 1em;
}



/* Video and audio */
#mediaPreview {
  margin-top: 20px;
}

video, audio {
  width: 100%;
  max-width: 400px;
}



@media (max-width: 767px) {
  /* CSS rules for mobile devices */
}
