<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration completed</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="completeRegistration">

    <main>
        <h1>Yes!</h1>
        <p>You completed your account. Log in and connect with others!</p>
        <a href="/login">Log in</a>
    </main>

    <script src="/js/script.js"></script>
  </body>
</html>
