<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Account</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Create new account</h1>
    <a href="/">Back</a>
    <form action="/create" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required />
      <label for="email">Email</label>
      <input type="text" id="email" name="email" required />
      <label for="password">Password</label>
      <input type="text" id="password" name="password" required />
      <label for="userInstruments">User Instruments</label>
      <input type="text" id="userInstruments" name="userInstruments" required />
      <label for="userInstrumentsRequest">User Instruments Request</label>
      <input
        type="text"
        id="userInstrumentsRequest"
        name="userInstrumentsRequest"
        required
      />
      <button type="submit">Add user</button>
    </form>
  </body>
</html>
