<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For you</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header id="foryouheader">
        <button id="filter" aria-label="Filter button"><img src="../img/filter.svg" alt="Filter icon"></button>
        <!-- To-Do: filter fucntie -->
        <h1>For you</h1>
        <button id="search" aria-label="Search button"><img src="../img/search.svg" alt="search icon"></button>
        <!-- To-Do: Search functie -->
    </header>


    <main>
        <div id="user-info-container">
            <ul id="user-list"></ul>

        </div>
    </main>


    <footer>
        <nav>
            <ul>
                <li><a href="foryou"><img src="../img/housepurple.svg" alt="Go to for you page"></a></li>
                <li><a href="profile"><img src="../img/profile.svg" alt="Go to profile page"></a></li>
                <li><a href="settings"><img src="../img/settings.svg" alt="Go to settings page"></a></li>
            </ul>
        </nav>
    </footer>
    
    <script src="/js/script.js"></script>
</body>
</html>