<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For you</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="backgroundtest"> <!-- test!!-->

    <header id="foryouheader">
        <button id="filter" aria-label="Filter button"><img src="../img/filter.svg" alt="Filter icon"></button>
        <!-- To-Do: filter fucntie -->
        <h1>For you</h1>
        <form action="/foryou" method="get">
            <input type="search" id="searchInput" placeholder="">
        </form>
        <!-- <button id="search" aria-label="Search button"><img src="../img/search.svg" alt="search icon"></button> -->
    
        
        
    </header>

    <main>
        
        <div id="user-info-container">
            
            <% users.forEach(user => { %>
                <div id="videoBackground">
                    <video loop>
                          <source src="../img/Eindresultaat(Mp4).mp4" type="video/mp4">  
                        Your browser does not support the video tag.
                    </video>
                    <section>
                        <ul>
                            <li>
                                <ul>
                                    <% user.genres.forEach(genre => { %>                                                                                 
                                        <li><h3><%= genre %></h3></li>
                                    <% }); %>
                                </ul>
                            </li>                               
                        </ul>
                        <h2><%= user.bandName%> ></h2>
                        <p><%= user.description %></p>                     
                    </section>
                </div>
            <% }); %>            
        </div>
    </main>

    <footer>
        <nav >
            <ul>
                <li><a href="foryou"><img src="../img/housepurple.svg" alt="Go to for you page"></a></li>
                <li><a href="profile"><img src="../img/profile.svg" alt="Go to profile page"></a></li>
                <li><a href="settings"><img src="../img/settings.svg" alt="Go to settings page"></a></li>
            </ul>
        </nav>
    </footer>
    
    <script src="/js/script.js"></script>
</body>

</html>

