<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
        <section>
            <a href="/">Back</a>
            <h1>Profile</h1>
            <img src="../img/edit_icon.svg" alt="edit icon button">
        </section>
        <section>
            <h2></h2>
            <img src="../img/band_icon.svg" alt="band icon">
        </section>
    </header> 
    
    <main>
        <p id="profileDescription"></p>

        <div></div>

        <section>
            <img src="../img/location_icon.svg" alt="location icon">
            <h4>From</h4>
            <p id="profileLocation"></p>           
        </section>

        <section>
            <img src="../img/genre_icon.svg" alt="genre icon">
            <h4>Genre</h4>
            <p id="profileGenre"></p>
        </section>

        <section>
            <img src="../img/instrument_icon.svg" alt="instrument icon">
            <h4>Instrument</h4>
            <p id="profileInstrument"></p>
        </section>

        <section>
            <img src="../img/language_icon.svg" alt="language icon">
            <h4>Language</h4>
            <p id="profileLanguage"></p>
        </section>

        <section>
            <img src="../img/member_icon.svg" alt="member icon">
            <h4>Members</h4>

            <section>
                <img src="../img/member1_icon.svg" alt="member1 icon photo">
                <h5></h5>
                <p id="member1"></p>
            </section>

            <section>
                <img src="../img/member2_icon.svg" alt="member2 icon photo">
                <h5></h5>
                <p id="member2"></p>
            </section>
        </section>

        <section>
            <h3>Content</h3>
        </section>

    </main>

    <footer>
        <img src="../img/houseWhite_icon.svg" alt="home icon button">
        <!-- chat nog veranderen -->
        <img src="../img/chatWhite_icon.svg" alt="chat icon button">
        <img src="../img/profilePurple_icon.svg" alt="profile icon button">
        <img src="../img/settingsWhite_icon.svg" alt="settings icon button">
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
