<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New password</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Your new password</h1>
    <form action="/newPassword" method="POST">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
      <button type="submit">Login</button>
    </form>
    <a href="/">Back</a>

  
    <script src="/js/script.js"></script>
  </body>
</html>