<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Welcome</title>
  </head>
  <body id="patternBackground">
      <img src="../img/logo.svg" alt="Band Buddy logo">

      <section id="log-reg">
        <a href="login">Login</a>

        <div id="divider">
          <span></span>
          <p>Or</p>
          <span></span>
        </div>
        
        <a href="register">Register</a>
      </section>

  </body>
</html>
