<h2>Who are you and what are you looking for?</h2>
<p class="help-text">Please fill in so other artists get to know you and your preferences better.</p>
      
<label for="description">Max 125 characters</label>
<textarea>
    id="description"
    name="description"
    maxlength="125"
    required
</textarea>