<h2>Where are you located?</h2>
<p class="help-text">Please fill in your location so we can show you other artists in the same area</p>

<div class="form-group">
  <label for="country">Country:</label>
  <input type="text" id="country" name="country" required/>
</div>

<div class="form-group">
  <label for="city">City:</label>
  <input type="text" id="city" name="city" required/>
</div>

<div class="form-group">
  <label for="postalCode">Postal Code:</label>
  <input type="text" id="postalCode" name="postalCode" required/>
</div>

<div class="form-group">
  <label for="language">Language:</label>
  <input type="text" id="language" name="language"/>
</div>