<h2>Where are you located?</h2>
<p class="help-text">Please fill in your location so we can show you other artists in the same area</p>

<label for="country">Country:</label>
<input type="text" id="country" name="country" required />
<!-- dropdown -->

<label for="state">State:</label>
<input type="text" id="state" name="state" required />

<label for="city">City:</label>
<input type="text" id="city" name="city" required />

<label for="postalCode">Postal Code:</label>
<input
  type="text"
  id="postalCode"
  name="postalCode"
  required
/>

<label for="language">Language:</label>
<input type="text" id="language" name="language" />
<!-- dropdown -->