<h2>Add your first two video's or audio</h2>
<p class="help-text">This way other artists or bands can see and hear how skilled you are.</p>

<section class="container-choice">
    <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="mediaFile" accept="video/*,audio/*" required>
        <input type="file" name="mediaFile" accept="video/*,audio/*" required>
        <button type="submit">Upload</button>
    </form>
    <div id="mediaPreview"></div>
</section>