<h2>Add your first two video's or audio</h2>
<p class="help-text">This way other artists or bands can see and hear how skilled you are.</p>

<section class="container-choice">
        <input type="file" name="mediaFile" accept="video/*,audio/*"/>
        <input type="file" name="mediaFile" accept="video/*,audio/*"/>
    <div id="mediaPreview"></div>
</section>