<h2>Members</h2>
      <div id="members">
        <div class="member">
          <label for="memberName">Name:</label>
          <input type="text" name="memberName" /><br /><br />

          <label for="memberPfp">Profile Picture:</label>
          <input type="file" name="memberPfp" accept="image/png, image/jpeg"
          /><br /><br />
          <label for="memberGender">Gender:</label>
          <input type="text" name="memberGender" required /><br /><br />
          

          <label for="memberBirthday">Birthday:</label>
          <input type="date" name="memberBirthday" required /><br /><br />
        </div>
      </div>
      <button type="button" onclick="addMember()">Add Member</button
      ><br /><br />