<h2>Band name</h2>
<p>Add a band name and at least 1 member. Optional profile picture to help others visually connect</p>
      <div id="members">
        <div class="member">
          <label for="memberName">Name:</label>
          <input type="text" name="memberName" /><br /><br />

          <label for="memberPfp">Profile Picture:</label>
          <input type="file" name="memberPfp" accept="image/png, image/jpeg"
          /><br /><br /> 
        </div>
      </div>
      <button type="button" onclick="addMember()">Add Member</button
      ><br /><br />