<h2>Band name</h2>
<p class="help-text">Add your band name or artist name</p>
      <div id="members">
        <div class="member">
          <label for="bandName">Name:</label>
          <input type="text" name="bandName"/>

          <label for="memberPfp">Profile Picture:</label>
          <input type="file" name="memberPfp" accept="image/png, image/jpeg"/>
        </div>
      </div>