<h2>When are your birthdays?</h2>
<p class="help-text">Add all member birthday’s</p>
<div id="members">
    <label for="memberBirthday">Birthday:</label>
    <input type="date" name="memberBirthday" required /><br /><br />
</div>