<h2>What gender are you?</h2>
<p class="help-text">Pick which best describes you.</p>
<div id="members">
    <label for="memberGender">Gender:</label>
    <input type="text" name="memberGender"/>
</div>
        