<h2>What gender are you?</h2>
<p>Pick which best describes you.</p>
<div id="members">
    <label for="memberGender">Gender:</label>
    <input type="text" name="memberGender" required /><br /><br />
</div>
        