<h2>What kind of genre(s) do you play?</h2>
<p class="help-text">Please select at least 1 genre to continue</p>

<section class="container-choice">
  <label class="register-choice">
    <input type="checkbox" name="genres" value="blues">
    Blues
    <div class="check"></div>
</label>

<label class="register-choice">
    <input type="checkbox" name="genres" value="classical">
    Classical
    <div class="check"></div>
</label>

<label class="register-choice">
    <input type="checkbox" name="genres" value="country">
    Country
    <div class="check"></div>
</label>

<label class="register-choice">
    <input type="checkbox" name="genres" value="disco">
    Disco
    <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="dubstep">
  Dubstep
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="electro">
  Electro
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="folk">
  Folk
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="funk">
  Funk
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="hip-hop">
  Hip-hop
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="house">
  House
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="jazz">
  Jazz
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="metal">
  Metal
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="pop">
  Pop
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="punk">
  Punk
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="r&b">
  R&B
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="reggae">
  Reggae
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="rock">
  Rock
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="schlager">
  Schlager
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="soul">
  Soul
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="techno">
  Techno
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="trance">
  Trance
  <div class="check"></div>
</label>
</section>

<p class="error-message" id="genre-message">Please select at least one genre</p>
