<h2>What kind of genre(s) do you play?</h2>
<p class="help-text">Please select at least 1 genre to continue</p>

<section class="container-genres">
  <button class="style-genre">Blues</button>
  <button class="style-genre">Classical</button>
  <button class="style-genre">Country</button>
  <button class="style-genre">Disco</button>
  <button class="style-genre">Dubstep</button>
  <button class="style-genre">Electro</button>
  <button class="style-genre">Folk</button>
  <button class="style-genre">Funk</button>
  <button class="style-genre">Hip-hop</button>
  <button class="style-genre">House</button>
  <button class="style-genre">Jazz</button>
  <button class="style-genre">Metal</button>
  <button class="style-genre">Pop</button>
  <button class="style-genre">Punk</button>
  <button class="style-genre">R&B</button>
  <button class="style-genre">Reggae</button>
  <button class="style-genre">Rock</button>
  <button class="style-genre">Schlager</button>
  <button class="style-genre">Soul</button>
  <button class="style-genre">Techno</button>
  <button class="style-genre">Trance</button>
</section>
