<h2>What kind of genre(s) do you play?</h2>
<p class="help-text">Please select at least 1 genre to continue</p>

<section class="container-choice">
  <label class="checkbox-label">
    <input type="checkbox" name="genres" value="blues">
    Blues
</label>
<label class="checkbox-label">
    <input type="checkbox" name="genres" value="classical">
    Classical
</label>
<label class="checkbox-label">
    <input type="checkbox" name="genres" value="country">
    Country
</label>
<label class="checkbox-label">
    <input type="checkbox" name="genres" value="disco">
    Disco
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="dubstep">
  Dubstep
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="electro">
  Electro
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="folk">
  Folk
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="funk">
  Funk
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="hip-hop">
  Hip-hop
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="house">
  House
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="jazz">
  Jazz
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="metal">
  Metal
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="pop">
  Pop
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="punk">
  Punk
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="r&b">
  R&B
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="reggae">
  Reggae
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="rock">
  Rock
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="schlager">
  Schlager
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="soul">
  Soul
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="techno">
  Techno
</label>
<label class="checkbox-label">
  <input type="checkbox" name="genres" value="trance">
  Trance
</label>
</section>
