<h2>What kind of genre(s) do you play?</h2>
<p class="help-text">Please select at least 1 genre to continue</p>

<section class="container-choice">
  <button class="style-choice-button">Blues</button>
  <button class="style-choice-button">Classical</button>
  <button class="style-choice-button">Country</button>
  <button class="style-choice-button">Disco</button>
  <button class="style-choice-button">Dubstep</button>
  <button class="style-choice-button">Electro</button>
  <button class="style-choice-button">Folk</button>
  <button class="style-choice-button">Funk</button>
  <button class="style-choice-button">Hip-hop</button>
  <button class="style-choice-button">House</button>
  <button class="style-choice-button">Jazz</button>
  <button class="style-choice-button">Metal</button>
  <button class="style-choice-button">Pop</button>
  <button class="style-choice-button">Punk</button>
  <button class="style-choice-button">R&B</button>
  <button class="style-choice-button">Reggae</button>
  <button class="style-choice-button">Rock</button>
  <button class="style-choice-button">Schlager</button>
  <button class="style-choice-button">Soul</button>
  <button class="style-choice-button">Techno</button>
  <button class="style-choice-button">Trance</button>
</section>
