<h2>What kind of genre(s) do you play?</h2>
<p class="help-text">Please select at least 1 genre to continue</p>

<section class="container-choice">
  <label class="register-choice">
    <input type="checkbox" name="genres" value="Blues">
    Blues
    <div class="check"></div>
</label>

<label class="register-choice">
    <input type="checkbox" name="genres" value="lassical">
    Classical
    <div class="check"></div>
</label>

<label class="register-choice">
    <input type="checkbox" name="genres" value="Country">
    Country
    <div class="check"></div>
</label>

<label class="register-choice">
    <input type="checkbox" name="genres" value="Disco">
    Disco
    <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Dubstep">
  Dubstep
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Electro">
  Electro
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Folk">
  Folk
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Funk">
  Funk
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Hip-hop">
  Hip-hop
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="House">
  House
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Jazz">
  Jazz
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Metal">
  Metal
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Pop">
  Pop
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Punk">
  Punk
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="R&B">
  R&B
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Reggae">
  Reggae
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Rock">
  Rock
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Schlager">
  Schlager
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Soul">
  Soul
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Techno">
  Techno
  <div class="check"></div>
</label>

<label class="register-choice">
  <input type="checkbox" name="genres" value="Trance">
  Trance
  <div class="check"></div>
</label>
</section>
