<h2>What kind of genre(s) do you play?</h2>
<p class="help-text">Please select at least 1 genre to continue</p>

<section class="container-genres">
  <button class="style-genre">Accordion</button>
  <button class="style-genre">Banjo</button>
  <button class="style-genre">Bass guitar</button>
  <button class="style-genre">Bongos</button>
  <button class="style-genre">Cello</button>
  <button class="style-genre">Clarinet</button>
  <button class="style-genre">Congas</button>
  <button class="style-genre">Drums</button>
  <button class="style-genre">Djembe</button>
  <button class="style-genre">Flute</button>
  <button class="style-genre">Guitar</button>
  <button class="style-genre">Harp</button>
  <button class="style-genre">Harmonica</button>
  <button class="style-genre">Keyboard</button>
  <button class="style-genre">Maracas</button>
  <button class="style-genre">Piano</button>
  <button class="style-genre">Sampler</button>
  <button class="style-genre">Saxophone</button>
  <button class="style-genre">Synthesizer</button>
  <button class="style-genre">Trombone</button>
  <button class="style-genre">Trumpet</button>
  <button class="style-genre">Ukelele</button>
  <button class="style-genre">Violin</button>
  <button class="style-genre">Voice</button>
</section>
