<h2>What kind of instrument(s) do you play?</h2>
<p class="help-text">Please select at least 1 genre to continue</p>

<section class="container-choice">
  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Accordion">
    Accordion
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Banjo">
    Banjo
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Bass">
    Bass
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Bongos">
    Bongos
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Cello">
    Cello
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Clarinet">
    Clarinet
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Congas">
    Congas
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Drums">
    Drums
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Djembe">
    Djembe
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Flute">
    Flute
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Guitar">
    Guitar
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Harmonica">
    Harmonica
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Keyboard">
    Keyboard
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Maracas">
    Maracas
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Piano">
    Piano
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Sampler">
    Sampler
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Saxophone">
    Saxophone
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Synthesizer">
    Synthesizer
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Trombone">
    Trombone
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Trumpet">
    Trumpet
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Ukelele">
    Ukelele
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Violin">
    Violin
  </label>

  <label class="checkbox-label">
    <input type="checkbox" name="userInstruments" value="Voice">
    Voice
  </label>

</section>
