<h2>What kind of instrument(s) do you play?</h2>
<p class="help-text">Please select at least 1 genre to continue</p>

<section class="container-choice">
  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Accordion">
    Accordion
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Banjo">
    Banjo
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Bass">
    Bass
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Bongos">
    Bongos
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Cello">
    Cello
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Clarinet">
    Clarinet
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Congas">
    Congas
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Drums">
    Drums
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Djembe">
    Djembe
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Flute">
    Flute
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Guitar">
    Guitar
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Harmonica">
    Harmonica
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Keyboard">
    Keyboard
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Maracas">
    Maracas
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Piano">
    Piano
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Sampler">
    Sampler
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Saxophone">
    Saxophone
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Synthesizer">
    Synthesizer
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Trombone">
    Trombone
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Trumpet">
    Trumpet
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Ukelele">
    Ukelele
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Violin">
    Violin
    <div class="check"></div>
  </label>

  <label class="register-choice">
    <input type="checkbox" name="userInstruments" value="Voice">
    Voice
    <div class="check"></div>
  </label>

</section>

<p class="error-message" id="instrument-message">Please select at least one instrument</p>
