<h2>What kind of instrument(s) do you play?</h2>
<p class="help-text">Please select at least 1 genre to continue</p>

<section class="container-choice">
  <button type="button" class="style-choice-button">Accordion</button>
  <button type="button" class="style-choice-button">Banjo</button>
  <button type="button" class="style-choice-button">Bass guitar</button>
  <button type="button" class="style-choice-button">Bongos</button>
  <button type="button" class="style-choice-button">Cello</button>
  <button type="button" class="style-choice-button">Clarinet</button>
  <button type="button" class="style-choice-button">Congas</button>
  <button type="button" class="style-choice-button">Drums</button>
  <button type="button" class="style-choice-button">Djembe</button>
  <button type="button" class="style-choice-button">Flute</button>
  <button type="button" class="style-choice-button">Guitar</button>
  <button type="button" class="style-choice-button">Harp</button>
  <button type="button" class="style-choice-button">Harmonica</button>
  <button type="button" class="style-choice-button">Keyboard</button>
  <button type="button" class="style-choice-button">Maracas</button>
  <button type="button" class="style-choice-button">Piano</button>
  <button type="button" class="style-choice-button">Sampler</button>
  <button type="button" class="style-choice-button">Saxophone</button>
  <button type="button" class="style-choice-button">Synthesizer</button>
  <button type="button" class="style-choice-button">Trombone</button>
  <button type="button" class="style-choice-button">Trumpet</button>
  <button type="button" class="style-choice-button">Ukelele</button>
  <button type="button" class="style-choice-button">Violin</button>
  <button type="button" class="style-choice-button">Voice</button>
</section>
