<h2>Age verification</h2>
<p class="help-text">It is important to know for us if you are older than 18</p>
<div id="members">
    <label for="isAdult">Are you an adult?</label>
    <input
    value="true"
    type="checkbox"
    id="isAdult"
    name="isAdult"
    required
  />
</div>