<h2>Who are you?</h2>

<p class="help-text">Are you a single artist or are you a band?</p>
<label for="bandMembers">Are you a solo artist?</label>
      <input
        type="Number"
        id="bandMembers"
        name="bandMembers"
        value="true"
        required
      />