
<h2>Name</h2>
<p class="help-text">Add your name. Optional profile picture to help others visually connect</p>
<label for="memberPfp">Profile Picture:</label>
<input type="file" name="memberPfp" accept="image/png, image/jpeg"/>