<h2>Who are you?</h2>

<p class="help-text">Are you a single artist or are you a band?</p>
<label for="isSoloArtist">Are you a solo artist?</label>
      <input
        type="checkbox"
        id="isSoloArtist"
        name="isSoloArtist"
        value="true"
        required
      />